.flowers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    gap: 25px;
}

.flower {
    display: flex;
    align-items:center;
    gap: 30px;
}