
.conteiner {
    width: 100%;
    border-top: 15px solid rgba(82, 163, 69, 1);
}

.header {
    margin: 0 auto;
    height: auto;
    padding: 15px 30px;
}

.header-top {
    height: auto;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto 41px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    height: auto;
}

.header__phone {
    max-width: 165px;
    width: auto;
    border-radius: 60px;
    border: 1px solid rgba(71, 80, 9, 1);
    padding: 6px 12px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.header__collback {
    display: block;
    background-color: transparent;
    border: 0cap;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-decoration: underline;
    text-align: left;
    color: rgba(71, 80, 9, 1);
}

.header-top__logo {
    margin: 0 0 0 20px;
}


.header-top__right {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 20px;
    gap: 15px;
}

.header-top__link {
    background-color: transparent;
    border: 0cap;
}

.header-top__button--login {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(71, 80, 9, 1);
}

.header-top__batton--basket {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.header-top__button--favorite {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.header-top__button-text {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(82, 163, 69, 1);
    padding-left: 2px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
}

.header-top__button--burger {
    display: flex;
    align-items: center;    
}