.main-bottom {
    width: auto;
    height: auto;
    margin: 0 auto 50px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px
}

.main-bottom__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-bottom__nav {
    max-width: 300px;
    width: auto;
    height: 408px;
    background-color: rgba(244, 246, 250, 1);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: rgba(71, 80, 9, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.main-bottom__img {
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
}


.main-bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 920px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(71, 80, 9, 1);
}

.main-bottom__paragraf {
    width: 870px;
    margin: 0;
    margin-bottom: 10px;
}

.main-bottom__paragraf--inner {
    margin: 0;
}

.blockquote-bold {
    margin: 0;
    font-weight: bold;
    display: contents;
}

.blockquote-normal {
    margin: 0;
    display: contents;
}

.main-bottom__services {
    width: auto;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    gap: 20px;
    padding: 0 30px 0;
}

.main-bottom__servic {
    width: auto;
    height: auto;
    background-color: rgba(244, 246, 250, 1);
    border-radius: 20px;
    padding: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(71, 80, 9, 1);
}

.main-bottom__service--quality {
    width: auto;
    display: flex;
    grid-column: 1 / 3;
}

.main-bottom__botton {
    width: 280px;
    height: 100%;
    border: 2px solid rgba(80, 33, 152, 1);
    padding: 16px;
    border-radius: 30px;
    display: block;
    margin: 0 auto 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(80, 33, 152, 1);
}